.gen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    background: #00B5E4;
    padding: 10px 80px;
}

.settings {
    margin-top: 40px;
}

.password-field {
    padding-top: 30px;
}

.password-field input {
    color: black;
    width: 30rem;
    border-radius: 20px;
    padding: 10px;
}

.password-field button {
    position: relative;
    left: 10px;
    background-color: #3498db;
    padding: 11px 30px;
    border-radius: 39px;
}

.settings input {
    margin-left: 10px;
    cursor: pointer;
}

.settings label {
    margin-left: 4px;

}